@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html {
    height: 100%;
}

body {
    display: grid;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-items: center;

    background: linear-gradient(to top right, #f7f4f9 50%, #f3eef7 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #741b47;
    text-align: left;
}

section {
    margin: 40px 0;
}

footer {
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

a {
    color: #ab7791;
    text-decoration: none;
}

a:visited {
    color: #6b6d97;
}

a:hover {
    color: #a04668;
    text-decoration: underline;
}

p {
    font-size: 30px;
    font-weight: 600;
}

li {
    font-size: 26px;
    font-weight: 600;
}

.contact-grid {
    display: grid;
    text-align: center;
}

.item-1 {
    grid-column: 1;
    grid-row: 1;


}
.item-2 {
    grid-column: 2;
    grid-row: 1;
}

.item-3 {
    grid-column: 3;
    grid-row: 1;
}

.item-4 {
    grid-column: 4;
    grid-row: 1;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

svg {
    width: 50px;
    height: auto;
}