@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0 2rem;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to top right, #f7f4f9 50%, #f3eef7 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #741b47;
    text-align: left;
}

section {
    margin: 4rem 0;
}

footer {
    text-align: center;
    margin: 8rem 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
   flex: auto;
}

.preferred-line-break {
    display: inline-block;
}

/* Typography */
h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5.5rem;
}

p {
    font-size: 4rem;
    font-weight: 600;
}

li {
    font-size: 3rem;
    font-weight: 600;
}

a {
    color: #ab7791;
    text-decoration: none;
}

a:visited {
    color: #6b6d97;
}

a:hover {
    color: #a04668;
    text-decoration: underline;
}

/* Footer */
.screen-reader-text {
    clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
    clip-path: inset(50%);
    height: 0.1rem;
    width: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

svg {
    width: 5rem;
    height: auto;
}

/* Responsive-ness */
@media (max-width: 1100px) and (min-width: 601px)  {
    footer {
        margin: 6rem 0;
    }
    
    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 3.5rem;
    }

    li {
        font-size: 2.8rem;
    }

    svg {
        width: 4.5rem;
    }
}

@media (max-width: 600px) and (min-width: 421px)  {
    footer {
        margin: 3rem 0;
    }
    
    h1 {
        font-size: 4.5rem;
    }
    
    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2.6rem;
        font-weight: 500;
    }

    li {
        font-size: 2rem;
        font-weight: 500;
    }

    svg {
        width: 4rem;
    }
}

@media (max-width: 420px) and (min-width: 0px) {
    body {
        margin: 0 1rem;
    }

    footer {
        margin: 0;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2.6rem;
    }

    p {
        font-size: 2rem;
        font-weight: 500;
    }

    li {
        font-size: 1.8rem;
        font-weight: 500;
    }

    svg {
        width: 3rem;
    }
}