@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');


html {
    height: 100%;
}

body {
    background-image: -webkit-linear-gradient(50deg, #fcb9b2 50%, #fed0bb 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    color: #461220;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
}

div {
    padding: 10vw 15vw;
}

a {
    color: #8c2f39;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 24px;
}