@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');


html {
    height: 100%;
}

body {
    background-image: -webkit-linear-gradient(50deg, #f7f4f9 50%, #f3eef7 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    color: #741b47;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
}

div {
    padding: 10vw 15vw;
}

a {
    color: #a04668;
}

a:hover {
    color: #ab4967;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 24px;
    font-weight: 600;
}